* {
  box-sizing: border-box;
  font-family: Helvetica, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0px;
  background-color: #e2d8cc;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-image {
  vertical-align: bottom;
}

hr.top {
  position: absolute;
  top: 13px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: white;
}

nav {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-navbar {
  font-size: 200%;
  color: white;
}

a {
  text-decoration: none;
  color: #252422;
}

a:hover {
  color: #403d39;
  cursor: pointer;
}

.right {
  float: right;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-items-on-homepage {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  margin: 25px 25px 25px 25px;
}

.indiv-item-info {
  width: 150px;
  align-self: center;
}

.image-on-homepage {
  width: 150px;
  align-self: center;
}

.single-item-view {
  width: 400px;
  margin: auto;
}

.single-item-image {
  width: 400px;
  margin: auto;
}

.guest-cart-title {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.column {
  display: flex;
  text-align: center;
  flex-direction: column;
}

button {
  padding: 1em 2em;
  background-color: #fccc0a;
  border: none;
  font-size: 1em;
  transition: all 1s ease;
  outline: none;
  letter-spacing: 0.1em;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
