body {
  font-family: sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #eee;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav a:hover {
  color: black;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-items-on-homepage {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  margin: 25px 25px 25px 25px;
}

.indiv-item-info {
  width: 150px;
  align-self: center;
}

.image-on-homepage {
  width: 150px;
  align-self: center;
}

.single-item-view {
  width: 400px;
  margin: auto;
}

.single-item-image {
  width: 400px;
  margin: auto;
}

.form-login {
  width: 340px;
  margin: 60px auto 30px;
  padding: 15px;
  position: relative;
  background: #fffaf6;
  border-radius: 4px;
  color: #7e7975;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 12px rgba(255, 255, 255, 0.4);
}

.form-login h1 {
  font-size: 15px;
  font-weight: bold;
  color: #bdb5aa;
  padding-bottom: 8px;
  border-bottom: 1px solid #ebe6e2;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.form-login h1 .log-in {
  display: inline-block;
  text-transform: uppercase;
  color: #6c6763;
  padding-right: 2px;
}
